:root {
  --yellow-color: #F6D21D; 
}


.transform-page {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  align-items: flex-start;
  width: 100%;
  padding-left: 20px;
  height: auto;
  background-color: black;
}

.labels {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.label {
  color: rgb(246, 210, 29);
  font-size: larger;
  margin-bottom: 3%;
}

.transform-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  width: 100%;
  height: 600px;
 
}

.transform-card {
  flex: 0 0 calc(45% - 20px);
  background-color: rgb(0, 0, 0);
  padding: 20px;
  margin-right: 50px;
  border: 2px solid #F6D21D; 
  border-radius: 8px; 
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 100%;
  max-width: 450px; 
  display: flex;
  flex-direction: column;
  height: 70%;
  position: relative; 
  transition: transform 0.3s ease-in-out;
}
.transform-card:hover {
  transform: scale(1.05); 
}

.transform-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); 
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
  pointer-events: none; 
}

.transform-card:hover::before {
  opacity: 1; 
}


.description-content {
  overflow-y: auto;
  margin-top: 10px;
  padding-right: 10px;
    overflow-y: auto;
    max-height: 200px;
    margin-top: 10px;
    padding-right: 10px;
    resize: vertical;
    border: #F6D21D;
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-family: Arial, sans-serif;
    line-height: 3.4;
    margin-bottom: 5%;
  
}


.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.image-container {
  text-align: center;
  width: 180px;
}

.image {
  width: 100%; 
  height: 150px;
  max-height: 200px;
  border-radius: 8px;
}

.title {
  margin-top: 10px;
  color: white;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
.add-button {
  border: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
}

.add-button:hover {
  border-color: var(--yellow-color);
}

